In [1]:
import os

path = './naver_store_review_before/'
file_list = os.listdir(path)
file_list_py = [file for file in file_list if file.endswith('.csv')]

In [2]:
import pandas as pd

df = pd.DataFrame()
for i in file_list_py:
    data = pd.read_csv(path + i)
    df = pd.concat([df,data])

df = df.reset_index(drop=True)

In [3]:
len(file_list_py)

23

In [33]:
import pandas as pd

df = pd.read_csv("merged_reviews.csv")

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27839 entries, 0 to 27838
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review_text  27825 non-null  object
dtypes: object(1)
memory usage: 217.6+ KB

In [35]:
df.head()

                                         review_text
0  금요일주문했는데 화요일받았어요ㅠㅠ\n대한통운이라 운좋으면 토욜도착하겠지했는데 \n천...
1  가성비 좋아요 \n택배상자는 ㅋㅋ 구멍이 나있엇지만 안에는 멀쩡합니당\n참고로 저희...
2                      귀요워용 오리인형도있어서 귀엽게사진찍을수있어서 좋아용
3                     잘받았습니다 강아지 스파할려고 구매했는데 구성품도좋아요
4                                      잘쓰고 있어요 만족합니다

In [36]:
# data = pd.DataFrame(df.review)
data = df

In [37]:
data.head()

                                         review_text
0  금요일주문했는데 화요일받았어요ㅠㅠ\n대한통운이라 운좋으면 토욜도착하겠지했는데 \n천...
1  가성비 좋아요 \n택배상자는 ㅋㅋ 구멍이 나있엇지만 안에는 멀쩡합니당\n참고로 저희...
2                      귀요워용 오리인형도있어서 귀엽게사진찍을수있어서 좋아용
3                     잘받았습니다 강아지 스파할려고 구매했는데 구성품도좋아요
4                                      잘쓰고 있어요 만족합니다

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27839 entries, 0 to 27838
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review_text  27825 non-null  object
dtypes: object(1)
memory usage: 217.6+ KB

In [39]:
data.drop_duplicates(inplace = True)
len(data)

25658

In [40]:
data.dropna(inplace=True)
len(data)

25657

In [41]:
data.head()

                                         review_text
0  금요일주문했는데 화요일받았어요ㅠㅠ\n대한통운이라 운좋으면 토욜도착하겠지했는데 \n천...
1  가성비 좋아요 \n택배상자는 ㅋㅋ 구멍이 나있엇지만 안에는 멀쩡합니당\n참고로 저희...
2                      귀요워용 오리인형도있어서 귀엽게사진찍을수있어서 좋아용
3                     잘받았습니다 강아지 스파할려고 구매했는데 구성품도좋아요
4                                      잘쓰고 있어요 만족합니다

In [42]:
data = data[~data['review_text'].str.contains('판매자', na=False, case=False)]
len(data)

24467

In [47]:
# '한달사용'과 '재구매'가 포함된 리뷰의 개수
count_month_usage = data['review_text'].str.contains('한달사용', na=False, case=False).sum()
count_repurchase = data['review_text'].str.contains('재구매', na=False, case=False).sum()

print(f"'한달사용'이 포함된 리뷰 개수: {count_month_usage}")
print(f"'재구매'가 포함된 리뷰 개수: {count_repurchase}")

'한달사용'이 포함된 리뷰 개수: 0
'재구매'가 포함된 리뷰 개수: 727

In [44]:
count_both = data['review_text'].str.contains('한달사용|재구매', na=False, case=False).sum()
print(f"'한달사용' 또는 '재구매'가 포함된 리뷰 개수: {count_both}")

'한달사용' 또는 '재구매'가 포함된 리뷰 개수: 4030

In [46]:
data['review_text'] = data['review_text'].str.replace('한달사용', '')
# data['review'] = data['review'].str.replace('재구매', '')

len(data)

C:\Users\asasd\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

24467

In [48]:
data.to_csv('merged_reviews_cleaned.csv', index=False, encoding = 'utf-8-sig')

In [49]:
import re

pattern = r"(?:[ㄱ-ㅎㅏ-ㅣ]{4,})"

# 리뷰 클리닝
data["clean_review"] = data["review_text"].apply(lambda x: re.sub(pattern, "", x).strip())

# 결과 확인
print(data)

                                             review_text  \
0      금요일주문했는데 화요일받았어요ㅠㅠ\n대한통운이라 운좋으면 토욜도착하겠지했는데 \n천...
1      가성비 좋아요 \n택배상자는 ㅋㅋ 구멍이 나있엇지만 안에는 멀쩡합니당\n참고로 저희...
2                          귀요워용 오리인형도있어서 귀엽게사진찍을수있어서 좋아용
3                         잘받았습니다 강아지 스파할려고 구매했는데 구성품도좋아요
4                                          잘쓰고 있어요 만족합니다
...                                                  ...
27834                                 스프링 제본도 깔끔하게 잘 됐어요
27835  실제 시험지 크기라는데 생각보다 커요 이걸로 맘 편히 준비 할 수 있을것 같아요 감...
27836             혼자 논술 준비하느라 막막했는데 덕분에 잘 해낼 수 있을 것 같습니다
27837  공부하기 쉽게 출력되어 너무 좋습니다 부록으로 제공되는 부분도 인터넷에서 일일이 찾...
27838                   1회분씩 들고다닐라고 스프링 없이 주문했는데 잘 도착했네요

                                            clean_review
0      금요일주문했는데 화요일받았어요ㅠㅠ\n대한통운이라 운좋으면 토욜도착하겠지했는데 \n천...
1      가성비 좋아요 \n택배상자는 ㅋㅋ 구멍이 나있엇지만 안에는 멀쩡합니당\n참고로 저희...
2                          귀요워용 오리인형도있어서 귀엽게사진찍을수있어서 좋아용
3                         잘받았습니다 강아지 스파할려고 구매했는데 구성품도좋아요
4                                          잘쓰고 있어요 만족합니다
...                                                  ...
27834                                 스프링 제본도 깔끔하게 잘 됐어요
27835  실제 시험지 크기라는데 생각보다 커요 이걸로 맘 편히 준비 할 수 있을것 같아요 감...
27836             혼자 논술 준비하느라 막막했는데 덕분에 잘 해낼 수 있을 것 같습니다
27837  공부하기 쉽게 출력되어 너무 좋습니다 부록으로 제공되는 부분도 인터넷에서 일일이 찾...
27838                   1회분씩 들고다닐라고 스프링 없이 주문했는데 잘 도착했네요

[24467 rows x 2 columns]

C:\Users\asasd\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [50]:
clean_data = data.drop(columns='review_text')

In [51]:
clean_data.dropna(inplace=True)
len(clean_data)

24467

In [52]:
clean_data['clean_review'] = clean_data['clean_review'].str.replace('더보기', '')
clean_data.columns = ['review']

In [54]:
# 공백 문자열 제거
# clean_data['review'] = clean_data['review'].str.strip()  # 앞뒤 공백 제거
# clean_data = clean_data[clean_data['review'] != '']  # 공백 문자열 제거

# 영어 비율이 50% 이상인 리뷰 제거
clean_data = clean_data[clean_data['review'].apply(lambda x: (len(re.findall(r'[a-zA-Z]', x)) / len(x)) < 0.5)]
len(clean_data)

24435

In [57]:
clean_data['review'] = clean_data['review'].str.replace('재구매', '')

In [60]:
clean_data['review'] = clean_data['review'].str.replace('스토어PICK', '')

In [59]:
# 숫자만 포함된 리뷰 제거
clean_data = clean_data[~clean_data['review'].str.match(r'^\d+$')]
len(clean_data)

24431

In [61]:
clean_data.to_csv('merged_reviews_cleaned.csv', index=False, encoding = 'utf-8-sig')

In [56]:
clean_data.isna().sum()

review    0
dtype: int64